<div *ngIf="isAppear"  style="position: absolute; top: 50vh; left: 50vw;">
  <div class="spinner-border z-3" role="status">
    <span class="visually-hidden z-3">Loading...</span>
  </div>
</div> 
<div class="container">
  <br>
     <h3 class="text-center">Select Filter Based On PaidBy</h3>
     <span class="  my-2 d-flex justify-content-center align-items-center">
      <div class="input-group d-flex justify-content-center align-items-center">
          <span class="input-group-text d-flex justify-content-center align-items-center">Search</span>
          <input type="text" class="form-control" [(ngModel)]="search" name="search" placeholder="Search..." aria-label="Search">
      </div>
     </span>
     <div class="row  d-flex justify-content-around"   >
      <div class=" btn btn-secondary col-6 w-auto  " (click)="previous()" >Previous</div>
      <div class="col-6 btn btn-secondary w-auto  " (click)="next()"  >Next</div>
    </div>
    <div class="row row-cols-1 row-cols-md-1 ">
        <div class="col" *ngFor="let item of allActivity | filter:search">
         @if(item.paidBy != item.paidTo){
            <div class="card my-2" >
              <div class="card-body">
                
                <h3 class="card-title"> {{item.paidBy}} Added "{{item.description}}" in "{{item.groupName}}"</h3>
                    @if(item.paidBy == username){
                      <p class="card-text fs-5   "> {{item.paidBy}} gave <b class="text-success"> ₹{{item.amount}} </b> to {{item.paidTo}}</p>
                    }
                    @else{
                      <p class="card-text fs-5"> {{item.paidBy}} gave <b  class="text-danger" > ₹{{item.amount}} </b> to {{item.paidTo}}</p>
                    } 
                <p class="card-text right-side fs-3" style="position: absolute; right: 20px; top:30px;"> {{item.addedWhen | date :  'longDate'}} {{item.addedWhen | date :  'shortTime'}}</p>
              </div>
            </div>
         }
        </div> 
      </div>
     
</div>
 