<div *ngIf="isAppear"  style="position: absolute; top: 50vh; left: 50vw;">
    <div class="spinner-border z-3" role="status">
      <span class="visually-hidden z-3">Loading...</span>
    </div>
  </div>

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div *ngFor="let item of data; let i = index" class="item-card fade-in my-4 p-4 shadow-sm rounded">
          <h1 class="text-center text-dark fw-bold">{{ item }}</h1>
        </div>
      </div>
    </div>
  </div>