<div *ngIf="isAppear"  style="position: absolute; top: 50vh; left: 50vw;">
  <div class="spinner-border z-3" role="status">
    <span class="visually-hidden z-3">Loading...</span>
  </div>
</div>
<div     class="chat-container  d-flex flex-column h-100 p-3" id="chatt">
  <!-- Messages -->
  <div class="username-body d-flex justify-content-center align-items-center rounded fs-2 mb-3" style="background-color: rgb(161, 159, 255); width: auto; height: 50px;">
    
      {{naam}}
    
</div>
  <div #chatContainer class="chat-messages flex-grow-1 overflow-auto mb-3"  style="height: 65vh;">
   
    <div   *ngFor="let msg of messages" class="d-flex mb-2" [ngClass]="msg.sender === user ? 'justify-content-end' : 'justify-content-start'">
      <div class="message-bubble px-3 py-2" style="position: relative;" [ngClass]="msg.sender === user ? 'bg-primary text-white me-2' : 'bg-secondary text-white ms-2'">
        <small class="fw-bold d-block  " [ngClass]="msg.sender === user ? 'd-flex justify-content-end' : '' "   >{{ msg.sender }}</small>
        {{ msg.message }}   
        <p class="text-muted" [ngClass]="msg.sender === user ? 'd-flex justify-content-end' : '' " 
          style="font-size: 15px; margin: 0; padding: 0;">{{msg.sentAt | date : 'MMM d, y, h:mm a'}}</p>
      </div>
    </div>
  </div>

  <!-- Input -->
  <div class="chat-input d-flex">
    <input
      type="text"
      class="form-control"
      placeholder="Type a message..."
      [(ngModel)]="message"
      (keydown.enter)="send()"
    />
    <button class="btn btn-primary ms-2" (click)="send()">Send</button>
  </div>
</div>

<!-- <script>
  window.onload = function () {
  const container = document.getElementById('chatt');
  if (container) {
    container.scrollTop =  
  }
};

</script> -->