
<div class="container">
    <h2>
      Total Amount of {{username}}
       @if(amount<0){
        <span class="text-danger"> : {{amount}}</span> 
       }
       @else {
        <span class="text-success" >  :{{amount}}</span> 
       }

    </h2> 
    
    <h3 *ngFor="let item of alluseramount" >
        
        @if(username != item.key){
          Your Amount :
          @if( item.value <0){
            <span class="text-danger"> Give {{-item.value}} to {{item.key}}</span> 
           }
           @else {
            <span class="text-success" > Take {{  item.value}} to {{item.key}}</span> 
           }
    
        }
     </h3>

     <h2> Total Expense :  <b class="text-primary">{{totalExpense}}</b> </h2>
     
     <div class="row row-cols-1 row-cols-md-1 ">
      <div class="col" *ngFor="let item of allExpense">
       @if(item.paidBy != item.paidTo){
          <div class="card my-2" >
            <div class="card-body">
              <h3 class="card-title">{{item.description}}</h3>
                  @if(item.paidBy == username){
                    <p class="card-text fs-5   "> {{item.paidBy}} gave <b class="text-success"> ₹{{item.amount}} </b> to {{item.paidTo}}</p>
                  }
                  @else{
                    <p class="card-text fs-5"> {{item.paidBy}} gave <b  class="text-danger" > ₹{{item.amount}} </b> to {{item.paidTo}}</p>
                  } 
              <p class="card-text right-side fs-3" style="position: absolute; right: 20px; top:30px;"> {{item.addedWhen | date :  'longDate'}} {{item.addedWhen | date :  'shortTime'}}</p>
            </div>
          </div>
       }
      </div> 
    </div>


</div>
