<div *ngIf="isAppear"  style="position: absolute; top: 50vh; left: 50vw;">
    <div class="spinner-border z-3" role="status">
      <span class="visually-hidden z-3">Loading...</span>
    </div>
  </div>

<div class="row mt-5">
 
    
        <div class="col-sm-5 m-3 " *ngFor="let item of data">
            <div class="card">
                <div class="card-body "> 
                    <h5 class="card-title">{{item.name}}</h5>  

                    <a  class="btn btn-primary m-2"  [routerLink]="['/addmember', item.groupId]"  >Add Members</a>
                    <a  class="btn btn-secondary m-2"  [routerLink]="['/addexpense', item.groupId]"  >Add Expense</a>
                    <a  class="btn btn-secondary m-2"  [routerLink]="['/viewmember', item.groupId]"  >View Member</a>
                    <a  class="btn btn-secondary m-2"  [routerLink]="['/viewexpense', item.groupId , loggedInUser]"  >View Expense</a>
                    <a  class="btn btn-success m-2"  [routerLink]="['/chats']" [queryParams]="{ groupid: item.groupId }"  >Chat</a>

                    <a [routerLink]="['/editgroup', item.groupId]" [queryParams]="{ name: item.name }" class="fs-4" style="position: absolute; top: 0; right: 10px;" > <i class="fas fa-edit"></i> </a>
                    <a   (click)="deletegroup(item.groupId)" class="fs-4  " style="cursor :pointer; color: red; position: absolute; bottom: 0; right: 10px;" > <i class="fa-solid fa-trash"></i> </a>
            </div>
        </div>
          </div> 
          
  
    </div>